
.header{
    min-height: 750px;
    background:  url("../../img/header_bg.png")no-repeat center;
     background-size: cover; 
}

/*==========  header__top  ==========*/

.header__top{
    @extend %clearfix;
    position: relative;
    width: 100%;
    margin-bottom: 85px;
}
.header__top-logo { 
    float: left;
    width: 283px;
    height: 66px;
}
.header__top-menu{
    display: inline-block;
}
.nav__item{
    margin-left: 70px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    line-height: 66px;
    padding: 4px 0;
    color: #fff;
}
.header__top-icons{
    display: inline-block;
    float: right;
    height: 66px;
    line-height: 66px;
        img{
            padding-left: 20px;        
    }
} 

/*==========  header__bottom  ==========*/
.header__bottom{
    position: relative;
    @extend %clearfix;
}
.header__bottom-info{
    display: inline-block;
    width: 145px;
    margin-right: 40px;
    margin-top: 65px;
    float: left;
}
.cake__info,.cake__info-hov {
    padding: 0 50px;
}
.header__bottom-info-ingredients{  
    margin-bottom: 185px;
    .cake__info{
        display: block;
    }
    .cake__info-hov{
        display: none;
    }
    
    &:hover{
        .cake__info-hov{
            display: block;
            transition: all 0.5s linear; 
        }
        .cake__info{
            display: none;
            transition: all 0.5s linear; 
        }
        .cake__info-hover{ 
            display: block;
            transition: all 0.5s linear; 
        }
    }
}
    
    /*==========  HOVER  ==========*/
    .cake__info-hover{
        display: none;
        font-family: 'roboto', sans-serif;
        font-size: 15px;
        padding: 35px 10px;
        border-radius: 15px;
        position: absolute;
        top: 0;
        right: 50%;
        margin-left: -125px;
        background: #fff;
        opacity: .92;
        min-width: 380px;
        ul{
            vertical-align: middle;
            display: inline-block;
            li{
                height: 40px;
            }
            
        }
    }
.triangle{
    position: absolute;
    background: #fff;
    top: 70px;
    right: 100%;
    margin-right: -18px;
    width: 35px;
    height: 35px;
    transform: rotate(135deg);
}
    .cake__ingr-img{
        text-align: center;
        width: 60px;
    }
    .cake__imgr-desc{
        text-align: left;
        width: 200px;
        padding-right: 10px;
    }
    .cake__ingr-ammount ul li{
        text-align: right;
        width: 60px;
        padding-right: 7px;
        margin-right: 30px;
    } 
    

.cake_info-desc{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    display: block;
    text-align: center;
}
.header__bottom-img{
    display: inline-block;
    width: 470px;  
   img{
        vertical-align: inherit;
    }
}
.header__bottom-img-cake{
    position: absolute;
    top: 25%;
    left: 0;
    font-family: 'malina-webfont', sans-serif;
    font-size: 150px;
    color: #fff;
    opacity: 0.1;
    text-transform: uppercase;    
}



.header__bottom-description{
    display: inline-block;
    width: 405px;
    float:right;
    h2{
        font-family: 'malina-webfont', sans-serif;
        font-size: 51px;
        color: #fff;
        margin: 0;
        
    letter-spacing: 3px;
}
}
.sweetcupcake-desc{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #fff;
}
.cup_prise{
    font-family: 'malina-webfont', sans-serif;
    font-size: 51px;
     color: #fff;
}
.header__bottom-info-time-term{
    font-family: 'Arial', sans-serif;
    color: #fff;
    opacity: 0.28;
    text-align: center;
    display: block;
}
.header__bottom-info-time-desc{
    font-family: 'malina-webfont', sans-serif;
    font-size: 24px;
    color: #fff;
    display: block;
    text-align: center;
}
.btn{
    width: 100px;
    height: 45px;
    background: #fca211;
    color: #b82429;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 45px;
    border: none;
    transition: all 0.2s linear;
    &:hover{
        background: #641a00;
        color: #da870c;
        transition: all 0.2s linear;
    }
}
.header__bottom-dott{
    display: block;  
    img{
        text-align: center;
        padding: 0 50%;  
    }
}