body, html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	min-width: 1100px;
}

.maincontent {
	//padding-bottom: 50px;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

footer {
	background: #ccc;
	height: 125px;
	width: 100%; 
	margin-top: -50px;
	position: relative;
	min-width: 1100px;
}